$color_title:  #03244a;
$btn_color: #004696;
$btn_gradient: #f5efe0; //#f5efe0;

.wp-block-esblocks-content-toggle{
  margin-bottom: 1.25em;
  &__title{
    position: relative;
    h3{
      color: $color_title !important;
      padding: 10px 10px;
      display: block;
      background-color: #eef7ff;
      margin: 0 !important;
    }
    margin-bottom: 1em;
  }

  &__button{
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    cursor: pointer;

    &::before,
    &::after{
      background-color: #777;
      content: " ";
      display: block;
      height: 2px;
      right: 10px;
      opacity: 1;
      position: absolute;
      top: 50%;
      -webkit-transition: all 0.2s cubic-bezier(0.42,0,0.58,1);
      transition: all 0.2s cubic-bezier(0.42,0,0.58,1);
      width: 14px;
    }
    &::before{
      -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      transform: translate(-50%, -50%) rotate(-90deg)
    }
    &::after{
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &[data-show-content="false"]{
    .wp-block-esblocks-content-toggle__content{
      display: none;
    }
  }

  &[data-show-content="true"]{
    .wp-block-esblocks-content-toggle__button::before{
      display: none;
    }
  }

}